* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  .my-container {
    width: 95%;
    position: relative;
  }
  
  #top-side {
    width: 100%;
    height: 100px;
    background-color: #333f98;
  
    .container-fluid {
      width: 95%;
    }
  
    .language {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 30px;
      .dropdown-item {
        img {
          width: 35px;
        }
      }
      .button1 {
        border-radius: 0px;
        background-color: #333f98;
        border: 0px;
      }
    }
  
    .country {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 30px;
  
      .button2 {
        border-radius: 0px;
        background-color: #333f98;
        border: 0px;
      }
  
      ul img {
        width: 25px;
        height: 25px;
        position: relative;
        left: 10px;
      }
  
      ul li {
        margin: 6px;
      }
  
      .usa-flex {
        display: flex;
      }
  
      .nzd-flex {
        display: flex;
      }
  
      .gmd-flex {
        display: flex;
      }
  
      .ilr-flex {
        display: flex;
      }
  
      .eur-flex {
        display: flex;
      }
  
      .inr-flex {
        display: flex;
      }
    }
  
    .logo {
      display: flex;
      justify-content: center;
  
      img {
        margin-top: 36px;
      }
    }
  
    .icons {
      float: right;
  
      .basket {
        background-color: #ff5722;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-top: 30px;
        position: relative;
        display: flex;
        align-items: center;
  
        i {
          color: white;
          position: absolute;
          top: 14px;
          left: 9px;
        }
        .sup {
          width: 20px;
          height: 20px;
          font-size: 15px;
          position: absolute;
          top: -3px;
          right: -5px;
          background-color: #ff5722;
          border-radius: 50%;
          color: white;
          padding-top: 3px;
  
          sup {
            font-size: 13px;
            margin-left: 5px;
          }
        }
      }
  
      .heart {
        background-color: #ff5722;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-left: 10px;
  
        i {
          margin-left: 12px;
          color: white;
        }
      }
  
      .profile {
        margin-top: 23px;
  
        .button3 {
          background-color: #333f98;
          border: 0px;
        }
  
        img {
          border-radius: 50%;
          width: 45px;
          height: 42px;
          position: relative;
          left: 2px;
        }
  
        .profile-i {
          display: flex;
        }
  
        .account-i {
          display: flex;
        }
  
        .message-i {
          display: flex;
        }
  
        .logout-i {
          display: flex;
        }
  
        i {
          position: relative;
          left: 10px;
          top: 8px;
          font-size: 20px;
        }
      }
    }
  }
  
  #nav-area {
    background-color: #283593;
  
    .my-container {
      width: 95%;
      margin: auto;
  
      nav {
        display: flex;
        justify-content: center;
      }
  
      .btn-navbar {
        display: flex;
        align-items: center;
  
        .admin {
          background-color: #ff5722;
          width: 115px;
          height: 45px;
          padding-top: 10px;
  
          .admin-nav {
            color: white;
            margin-left: 5px;
            text-decoration: none;
          }
        }
  
        li {
          display: inline-block;
          transition: all 0.3s ease-in-out;
          margin-right: 25px;
  
          .nav-a {
            color: white;
            display: block;
            text-decoration: none;
            position: relative;
            margin-top: 10px;
            padding-bottom: 10px;
  
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -10px;
              left: 0px;
              background-color: #ff5722;
              transition: all 0.2s ease-in-out;
              transform: scale(0, 0);
              visibility: hidden;
            }
          }
  
          &:hover {
            .submenu {
              height: 200px;
            }
  
            .categori {
              height: 320px;
              width: 800px;
            }
  
            a {
              &::before {
                visibility: visible;
                transform: scale(1, 1);
              }
            }
          }
  
          .submenu {
            overflow: hidden;
            position: absolute;
            margin-top: 10px;
            background-color: white;
            height: 0;
            width: 150px;
            line-height: 40px;
            transition: height 0.3s ease-in-out;
            transition-delay: 0.1s;
            text-align: left;
            padding-left: 15px;
            border-radius: 5px;
            z-index: 2;
  
            a {
              color: #000;
              font-size: 16px;
              text-decoration: none;
            }
          }
  
          .categori {
            overflow: hidden;
            position: absolute;
            margin-top: 10px;
            background-color: white;
            height: 0;
            width: 0;
            line-height: 30px;
            text-align: left;
            transition: height 0.3s ease-in-out;
            transition-delay: 0.2s;
            text-align: left;
            margin-left: -200px;
            border-radius: 10px;
            z-index: 2;
  
            table td {
              border: none;
            }
  
            table {
              th {
                font-size: 17px;
                color: #283593;
  
                &:hover {
                  color: #000;
                }
              }
            }
          }
        }
  
        h1 {
          text-align: center;
          font-family: satisfy;
          font-weight: 300;
        }
  
        padding: 0;
        margin: 0;
      }
    }
  
    .icon {
      width: 56px;
      height: 56px;
      background-color: #ff5722;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      right: 0;
      margin-top: 20px;
      position: absolute;
      z-index: 1;
      i {
        color: white;
      }
    }
  }
  
  #scroll-section {
    background-color: #283593;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: block;
    transition: 0.5s;
    .my-container {
      width: 97%;
      height: 50px;
      background-color: #283593;
      margin-left: 23px;
    }
    img {
      padding-top: 8px;
    }
    .inActive {
      display: none;
    }
    nav {
      position: absolute;
      right: 0;
    }
    .btn {
      display: flex;
      margin-top: 3px;
      li {
        list-style: none;
        margin-right: 15px;
        &:hover {
          .home {
            height: 130px;
            width: 200px;
            li {
              text-align: left;
            }
          }
          .shop {
            height: 170px;
            width: 200px;
          }
          .categories {
            height: 270px;
            width: 1000px;
            li {
              text-align: left;
            }
          }
          a {
            &::before {
              visibility: visible;
              transform: scale(1, 1);
            }
          }
        }
        .home {
          height: 130px;
          width: 200px;
        }
  
        .shop {
          height: 170px;
          width: 200px;
        }
  
        .categories {
          position: absolute;
          right: 0;
          height: 270px;
          width: 1000px;
          display: flex;
          gap: 150px;
          text-align: left;
        }
  
        .submenu {
          overflow: hidden;
          position: absolute;
          top: 57px;
          background-color: whitesmoke;
          height: 0;
          line-height: 40px;
          transition: height 0.3s ease-in-out;
          transition-delay: 0.1s;
          border-radius: 5px;
          z-index: 2;
          > li {
            display: block;
            text-align: left;
          }
          a {
            color: black;
            margin-top: 20px;
            font-size: 16px;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
          }
          .product1 {
            padding-top: 20px;
            h5 {
              text-align: left;
            }
          }
        }
        .hov {
          font-size: 18px;
          color: white;
          display: block;
          padding: 0 7px 0 7px;
          margin: 0 0 10px;
          text-decoration: none;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: -20px;
            left: 0px;
            background-color: orange;
            transition: all 0.3s ease-in-out;
            transform: scale(0, 0);
            visibility: hidden;
          }
        }
      }
    }
  }
  
  #images {
    .my-container {
      width: 100%;
    }
    .images {
        background-size: 100%;
      background-image: url("../../images/register/contact.jpg");
      width: 100%;
      height: 400px;
      color: white;
      text-align: center;
      .text {
        span {
          font-weight: 700;
          font-size: 55px;
        }
      }
    }
  }
  
  #info{
    .my-container{
        width: 96%;
        margin: auto;        
        h1{
            font-style: italic;
            font-weight: 700;
            font-size: 50px;
        }
        h4{
            padding-top: 20px;
            font-weight: 700;
        }
        p{
            padding-top: 20px;
        }
        .btn-1{
            background-color: #ff5722;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
            border: none;
            width: 150px;
            height: 50px;
            color: white;
            border-radius: 3px;
            font-weight: 600;
        }
    }
  }

  #mision{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f3f3f4;;
    .my-container{
        margin: auto;
        width: 95%;

        .text{
            h1{
                font-weight: 700;
            }
            h5{
                padding-top: 10px;
            }
            p{
                padding-top: 10px;
            }
            padding-top: 70px;
            height: 500px;
        }
    }
  }
  #words{
    height: 600px;
    background-size: 125%;
    background-image: url(../../images/about/background.jpg);
    background-position: 2%;
    .text{
        color: white;
        text-align: center;
        padding-top: 80px;
       
    }
    .carousell-section {
      width: 800px;
      height: 480px;
      margin-top: 10px;
      color: white;
    }
  
    .swiper-slide {
      width: 350px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: white;
      text-align: center;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  
    .swiper-button-next {
      right: 4% !important;
      top: 46% !important;
    }
    .swiper-button-prev {
      left: 4% !important;
      top: 46% !important;
    }
    .carousell-section {
      padding-top: 70px;
      position: relative;
    }
    .component-section {
      padding: 50px;
    }
    .component-row {
      display: flex;
      justify-content: space-between;
    }
    .component-card {
      position: relative;
      width: 31.5%;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    }
  
    .component-card .component-text {
      padding-left: 90px;
    }
  }
  #ceo-info{
    h1{
      text-align: center;
      font-weight: 600;
    }
    background-color: #f3f3f4;
    height: 600px;
    .swiper-slide {
      text-align: center;
      img{
        border-radius: 50%;
      }
    }
  }
  #write-us{
    .input {
      padding-top: 100px;
      h1{
          padding-left: 10px;
      }
      label {
        margin-left: 10px;
        margin-top: 15px;
        position: relative;
        display: inline-block;
  
        span {
          padding: 10px;
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0;
          transition: 0.2s;
          transition-timing-function: ease;
          transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
          opacity: 0.5;
        }
  
        input {
          border: none;
          border-bottom: 1px gray solid;
          outline: none;
          padding: 10px;
         
        }
  
        input:focus + span,
        input:not(:placeholder-shown) + span {
          opacity: 1;
          transform: scale(0.75) translateY(-100%) translateX(-30px);
        }
  
        /* For IE Browsers*/
        input:focus + span,
        input:not(:-ms-input-placeholder) + span {
          opacity: 1;
          transform: scale(0.75) translateY(-100%) translateX(-30px);
        }
      }
      
      display: flex;
      flex-direction: column;
    }
    button {
      margin-left: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 25px;
      font-weight: 600;
      width: 150px;
      border: none;
      height: 50px;
      background-color: #ff5722 !important;
    }
  }
  
  #site-about {
    background-color: black;
    .my-container {
      width: 97%;
      height: 400px;
      margin: auto;
      background-color: black;
    }
    .about {
      p:hover {
        cursor: pointer;
        color: orange;
      }
    }
    h6,
    p {
      transition: 0.3s;
      margin-left: 40px;
      margin-top: 30px;
      color: white;
    }
    span {
      float: right;
      color: white;
    }
  }
  